body {
    background-image: url("https://c1.staticflickr.com/9/8109/8632995866_a9174356d8_b.jpg");
    background-size: 1366px 768px;
    background-repeat: repeat;
     }


button.bitcoin {
background-color: #F88F00;
border: none;
height: 40px;
padding: 5px 15px;
color: #ffffff;
font-size: 16px;
font-weight: 300;
margin-top: 10px;
margin-right: 10px;
}

button.bitcoin:hover {
cursor: pointer;
background-color: #F89900;
}

button:active {
outline: none;
border: none;
}

button:focus {outline:0;}